:root {
    --first-color: #2196F3;
    --second-color: #212121;
    --color-three: #757575;
    --tx-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/*all*/
li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu .links .main:focus {
    color: var(--first-color);
}

/*HEADER*/
head {
    background-color: #FFFFFF;
}

.logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color);
}

.logo-black {
    color: black;
}

.logo-blue {
    color: var(--first-color);
}

/*NAVIGATION*/
.navigation {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--second-color);
}

.navigation:hover {
    color: var(--first-color);
}

/*LINKS*/
.mail-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-three);
}

.phone-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-three);
}

.mail-link:hover {
    color: var(--first-color);
}

.phone-link :hover {
    color: var(--first-color);
}

/*main*/
.main {
    background: #2F303A;
}

.main-text {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--tx-color);
}

.main-button {
    background: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.main-button-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--tx-color);
}

/*content*/
.block-one {
    background-color: #FFFFFF;
}

.content-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
}

.content-about {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--color-three);
}

.content-main {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/*TEAM*/
.block-team {
    background-color: #F5F4FA;
}

.block-team-one {
    background-color: #FFFFFF;
}

.team-main {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.team-about {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-three);
}

/*footer*/
/*footer*/
.footer {
    background: #2F303A;
}

.logo-second {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color);
}

.logo-black-second {
    color: #FFFFFF;
}

.logo-blue-second {
    color: var(--first-color);
}


.place {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--tx-color);
}