:root {
    --first-color: #2196F3;
    --second-color: #212121;
    --color-three: #757575;
    --tx-color: #FFFFFF;
    --svg-back: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

button,
a:focus {
    color: var(--first-color);
}

/*all*/


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;


}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

}

/*HEADER*/
header {
    background-color: var(--tx-color);
    border-bottom: 1px solid #ECECEC;
}

.header {
    display: flex;
    align-items: center;


}



.header-container {
    display: flex;
    align-items: center;
}

.logo {

    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color);

    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 24px;

}

.logo-black {
    color: black;
}

.logo-blue {
    color: var(--first-color);
}

/*NAVIGATION*/
.menu {
    display: flex;
    padding: 0;


}

.menu-nav {
    margin-right: 50px;
}

.navigation {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--second-color);


}

.navigation:hover {
    color: var(--first-color);
}

.menu .navigation:focus {
    color: var(--first-color);
}

/*LINKS*/
.links {
    padding: 0;
    margin-left: auto;
}

.links-container {
    display: flex;
    align-items: center;
}



.mail-link {
    font-family: 'Roboto',
        sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-three);
    margin-right: 50px;

    display: flex;
    align-items: center;
}


.phone-item {
    font-family: 'Roboto',
        sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-three);

    display: flex;
    align-items: center;
}

.cotacts-li {
    color: #757575;
}


.link-item:hover,
.link-item:focus {
    fill: #2196F3;
    color: #2196F3;

}

.contacts-icon {
    fill: currentColor;
    margin-right: 10px;

}

.contacts-icon:hover {
    fill: #2196F3;
}

.phone-item:hover {
    color: #2196F3;

}


.mail-link:hover {
    color: var(--first-color);

}

.phone-link :hover {
    color: var(--first-color);

}

.links .mail-link .phone-link:focus {
    color: var(--tx-color);
}




/*main*/
.main {
    background-color: #C4C4C4;
    ;
    padding: 200px 0;
    width: 1600px;

}

.back-main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/background.jpg);

    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}



.main-text {
    display: flex;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--tx-color);

    padding: 0;

}

button {
    display: block;
}

.button-container {


    padding: 0;
    margin-top: 30px;
}

.main-button {
    font-family: 'Roboto',
        sans-serif;
    display: block;
    width: 260px;
    height: 50px;
    border: none;
    background: var(--first-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--tx-color);
    margin: auto;
    padding: 0;
}



.main-button-text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--tx-color);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.main-button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    ;
}

.main-button:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    ;
}


/*content*/
.block-one {
    background-color: var(--tx-color);


}




.svg-block-one {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(/SVG/Fisrst/antenna\ 1.svg);
    background-repeat: no-repeat;
}

.svg-block-two {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(/SVG/Fisrst/astronaut\ 1.svg);

}

.svg-block-three {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(/SVG/Fisrst/clock\ 1.svg);
}

.svg-block-four {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(/SVG/Fisrst/diagram\ 1.svg);

}


.svg-block-one:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.svg-block-two:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.svg-block-three:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.svg-block-four:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.content {
    display: flex;
    gap: 30px;


}

.content-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
    width: 270px;

    margin-bottom: 10px;
}

.content-about {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--color-three);
    width: 270px;

}

.we-do {
    padding-top: 0;
}

.content-main {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;


    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);

}

.photo-block {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;

}

/*TEAM*/
.team-section {
    background-color: #F5F4FA;


}

.block-team {

    display: flex;
    gap: 30px;



}

.block-team-one {
    background-color: var(--tx-color);
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-main {
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-bottom: 50px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-top: 30px;
    margin-bottom: 10px;

}

.team-about {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-three);
    /* padding-bottom: 30px; */
}

.socials-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 30px;
    ;
}



.socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.socials-link:hover {
    color: #fff;
    background-color: #2196F3;
}

.socials-icon {
    fill: currentColor;
}




/*Client*/




.client-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-item {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    color: #AFB1B8;
}

.clients-item:hover {
    border-color: #2196F3;
    color: #2196F3;
}

.clients-icon {
    fill: currentColor;
}





/*footer*/
/*footer*/
.main-footer {
    display: flex;
    align-items: baseline;
}

.footer-div {
    margin-right: 70px;
}

.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.logo-conteiner {
    display: inline-block;
    margin-bottom: 20px;
}

.logo-second {

    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color);
}

.logo-black-second {
    color: var(--tx-color);
}

.logo-blue-second {
    color: var(--first-color);
}

.address {
    display: block;

}

.address-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.address-bottom {
    margin-bottom: 9px;

}


.place {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--tx-color);
}

.place:focus {
    color: var(--first-color);
}

/*LINKS*/
.mail-link-two {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-three);

}

.phone-link-two {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-three);

}

.mail-link-two:hover {
    color: var(--first-color);
}

.phone-link-two :hover {
    color: var(--first-color);
}

.links-two .mail-link-two .phone-link-two:focus {
    color: var(--tx-color);
}

.footer-links-block {
    display: block;
    width: 206px;


}

.footer-link-text {
    display: inline-block;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.socials-list-foot {
    display: flex;
    justify-content: center;
    gap: 10px;

}



.socials-link-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

}

.socials-link-foot:hover {
    color: #fff;
    background-color: #2196F3;
}

.socials-icon-foot {
    fill: currentColor;
}