:root {
    --color-one: #2196F3;
    --color-two: #757575;
    --color-three: #212121;
    --color-four: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;


}


img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}


button,
a:focus {
    color: var(--color-one);
}

main {
    background-color: var(--color-four);
}

/*all*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu .links .main:focus {
    color: var(--first-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/*HEADER*/
.header {
    background-color: var(--color-four);
    border-bottom: 1px solid #ECECEC;

}

.header__container {
    display: flex;
    align-items: center;

}

.header__logo {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--color-one);

    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 24px;
}

.header__logo--black {
    color: black;
}

.header__logo--blue {
    color: var(--color-one);
}

/*NAVIGATION*/
.header__menu {
    display: flex;
    align-items: center;

}

.header__navigation {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-three);

    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.header__navigation.nav__menu.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;


    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: #2196F3;
}

.header__navigation.current {
    color: var(--color-one);

}

.nav__menu {
    margin-right: 30px;
}

.header__navigation:hover {
    color: var(--color-one);
}

.header__menu .header__navigation:focus {
    color: var(--color-one);
}

/*LINKS*/
.header__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;

}

.header__mail {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    margin-right: 50px;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.header__phone {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.header__item:hover,
.header__item:focus {
    fill: #2196F3;
    color: #2196F3;

}

.header__icon {
    fill: currentColor;
    margin-right: 10px;

}

.header__mail:hover {
    color: var(--color-one);
}

.header__phone :hover {
    color: var(--color-one);
}

.links > a:focus {
    color: var(--color-one);

}

/*BUTTON-NAVIGATION*/
/* main {
    background-color: #F5F5F5;
} */
.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter__button {

    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;

}




.filter__nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-three);
    background: #F5F4FA;

    padding: 6px 22px;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.filter__nav:hover {
    cursor: pointer;
    color: var(--color-four);
    background-color: var(--color-one);
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter__button .filter__nav:focus {
    background-color: var(--color-one);
    color: var(--color-four);
}

/*ul: photo+h2+p*/
.project  {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project__container {
    width: 370px;

}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateY(101%);

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    /* transition: transform; */

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.project__overlay--text {

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;

    color: #FFFFFF;

    padding: 0 24px;
}

.project__container:hover .project__overlay {
    transform: translateY(0);
}

.project__border {
    /* outline: 2px solid red; */
    /* border: 1px solid #EEEEEE; */
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;


}

.project__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--color-three);

    margin-bottom: 4px;


}

.project__about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-two);

}

.project__shadow {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.project__shadow:hover {
    /* border: 1px solid #EEEEEE; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*footer*/
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}
.footer__main {
    display: flex;
    align-items: baseline;
}

.footer__block {
    margin-right: 70px;
}


.footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--color-one);
}

.footer__logo--black {
    color: var(--color-four);
}

.footer__logo--blue {
    color: var(--color-one);
}

.footer__address {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.footer__list {
    margin-bottom: 9px;

}


.footer__place {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--color-four);
}

.footer__place:focus {
    color: var(--color-one);
}

/*LINKS*/
.footer__mail {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.footer__phone {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.footer__mail:hover {
    color: var(--color-one);
}

.footer__phone :hover {
    color: var(--color-one);
}

 .footer__mail .footer__phone:focus {
    color: var(--color-four);
}


/* FOOTER-LINKS */
.footer__links {
    display: block;
    margin-right: 93px;


}

.footer__text {
    display: inline-block;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 10px;

}



.footer__media--link  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}
.footer__item :hover {
    color: #fff;
    background-color: #2196F3;
}
.footer__item :focus {
    color: #fff;
    background-color: #2196F3;
}
.footer__media--link:hover{
    color: #fff;
    background-color: #2196F3;
}
.footer__media--link :focus {
    color: #fff;
    background-color: #2196F3;
}

.footer__icon {
    fill: currentColor;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

/* footer form */
.footer__form {
    display: flex;
}

.footer__form__text {

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;

}

.footer__form__input {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    padding: 15px 0 15px 16px;
    width: 358px;

    background-color: transparent;
    color: #FFFFFF;

    border: none;

    /* height: 50px; */
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

}

.footer__form__input::placeholder {

    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer__form__btn {
    display: flex;
    margin-left: 10px;
    margin-top: 39px;
    padding: 10px 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    border: none;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;

    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.footer__form__icon {
    margin-left: 10px;


}
