:root {
    --color-one: #2196F3;
    --color-two: #757575;
    --color-three: #212121;
    --color-four: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 1600px;

}

button,
a:focus {
    color: var(--color-one);
}

main {
    background-color: var(--color-four);
}

/*all*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu .links .main:focus {
    color: var(--first-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/*HEADER*/
head {
    background-color: var(--color-four);
}

.header-container {
    display: flex;
    align-items: center;
}


.logo {
    font-family: 'Raleway'
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--color-one);

    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.logo-black {
    color: black;
}

.logo-blue {
    color: var(--color-one);
}

/*NAVIGATION*/
.menu {
    display: flex;
    align-items: center;
    padding: 0;
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-three);

}

.nav-menu {
    margin-right: 30px;
}

.navigation:hover {
    color: var(--color-one);
}

.menu .navigation:focus {
    color: var(--color-one);
}

/*LINKS*/
.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
}

.mail-link {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    margin-right: 50px;
}

.phone-link {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
}


.mail-link:hover {
    color: var(--color-one);
}

.phone-link :hover {
    color: var(--color-one);
}

.links>a:focus {
    color: var(--color-one);

}

/*BUTTON-NAVIGATION*/
/* main {
    background-color: #F5F5F5;
} */
.box-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-navigation {

    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 34px;
}




.but-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-three);
    background: #F5F4FA;



}

.but-nav:hover {
    cursor: pointer;
    color: var(--color-four);
    background: var(--color-one);
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-navigation .but-nav:focus {
    background-color: var(--color-one);
    color: var(--color-four);
}

/*ul: photo+h2+p*/
.box {
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.box-container {
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.text-cont {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--color-three);

    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
}

.about-cont {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-two);
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

/*footer*/
.footer {
    background: #2F303A;
}

.logo-second {

    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color);
    padding: 0;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 20px;
}

.logo-black-second {
    color: var(--color-four);
}

.logo-blue-second {
    color: var(--color-one);
}

.footer-list {
    padding: 0;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.place {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--color-four);
}

.place:focus {
    color: var(--color-one);
}

/*LINKS*/
.mail-link-two {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);

}

.links-mail {
    margin-top: 9px;
    margin-bottom: 9px;
}

.phone-link-two {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    display: inline-block;
    margin-bottom: 60px;
}

.mail-link-two:hover {
    color: var(--color-one);
}

.phone-link-two :hover {
    color: var(--color-one);
}

.links-two .mail-link-two .phone-link-two:focus {
    color: var(--tx-color);
}