:root {
    --color-one: #2196F3;
    --color-two: #757575;
    --color-three: #212121;
    --color-four: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;


}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}


button,
a:focus {
    color: var(--color-one);
}

main {
    background-color: var(--color-four);
}

/*all*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu .links .main:focus {
    color: var(--first-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

/*HEADER*/
header {
    background-color: var(--color-four);
    border-bottom: 1px solid #ECECEC;

}

.header-container {
    display: flex;
    align-items: center;

}




.logo {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--color-one);

    margin-right: 93px;
    margin-top: 25px;
    margin-bottom: 24px;
}

.logo-black {
    color: black;
}

.logo-blue {
    color: var(--color-one);
}

/*NAVIGATION*/
.menu {
    display: flex;
    align-items: center;

}

.navigation {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-three);

    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.navigation.nav-menu.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;


    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: #2196F3;
}

.navigation.current {
    color: var(--color-one);

}

.nav-menu {
    margin-right: 30px;
}

.navigation:hover {
    color: var(--color-one);
}

.menu .navigation:focus {
    color: var(--color-one);
}

/*LINKS*/
.links {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;

}

.mail-link {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    margin-right: 50px;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.phone-item {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.link-item:hover,
.link-item:focus {
    fill: #2196F3;
    color: #2196F3;

}

.contacts-icon {
    fill: currentColor;
    margin-right: 10px;

}

.mail-link:hover {
    color: var(--color-one);
}

.phone-link :hover {
    color: var(--color-one);
}

.links>a:focus {
    color: var(--color-one);

}

/*BUTTON-NAVIGATION*/
/* main {
    background-color: #F5F5F5;
} */
.box-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-navigation {

    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;

}




.but-nav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-three);
    background: #F5F4FA;

    padding: 6px 22px;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.but-nav:hover {
    cursor: pointer;
    color: var(--color-four);
    background-color: var(--color-one);
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-navigation .but-nav:focus {
    background-color: var(--color-one);
    color: var(--color-four);
}

/*ul: photo+h2+p*/
.box {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.box-container {
    width: 370px;

}

.box-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transform: translateY(101%);

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    /* transition: transform; */

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.overlay-text {

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;

    color: #FFFFFF;

    padding: 0 24px;
}

.box-container:hover .overlay {
    transform: translateY(0);
}

.box-border {
    /* outline: 2px solid red; */
    /* border: 1px solid #EEEEEE; */
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;


}

.text-cont {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--color-three);

    margin-bottom: 4px;


}

.about-cont {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-two);

}

.box-shadow {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.box-shadow:hover {
    /* border: 1px solid #EEEEEE; */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*footer*/

.main-footer {
    display: flex;
    align-items: baseline;
}

.footer-div {
    width: 231px;
    margin-right: 70px;
    margin-left: 0;
}

.footer {
    background: #2F303A;
    padding: 60px 0;

    
}

.logo-second {

    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--first-color);
    padding: 0;
    display: inline-block;
    margin-bottom: 20px;
}

.logo-black-second {
    color: var(--color-four);
}

.logo-blue-second {
    color: var(--color-one);
}

.footer-list {

    display: block;
    width: 231px;

}

.place {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--color-four);
}

.place:focus {
    color: var(--color-one);
}

/*LINKS*/
.mail-link-two {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.links-mail {
    margin-top: 9px;
    margin-bottom: 9px;
}

.phone-link-two {
    font-family: 'Roboto',
        sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    color: var(--color-two);
    display: inline-block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

.mail-link-two:hover {
    color: var(--color-one);
}

.phone-link-two :hover {
    color: var(--color-one);
}

.links-two .mail-link-two .phone-link-two:focus {
    color: var(--tx-color);
}

.footer-links-block {
    display: block;
margin-right: 93px;

}

.footer-link-text {
    display: inline-block;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.socials-list-foot {
    display: flex;
    justify-content: center;
    gap: 10px;


}



.socials-link-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

}

.socials-link-foot:focus,
.socials-link-foot:hover {
    color: #fff;
    background-color: #2196F3;
}

.socials-icon-foot {
    fill: currentColor;
}


.footer-form {
    position: relative;
    display: block;
}
.footer-form-text {
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

}
.footer-form-input {
padding: 15px 0 15px 16px ;

    background-color: transparent;
    color: #FFFFFF;
    border: none;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
margin-top: 20px;
}
.footer-form-input::placeholder {

    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
} 
.footer-form-btn {
position: absolute;
top: 0;
right: -63%;
top: 40px;
    /* position: relative; */
    display: flex;
    padding: 10px 28px;
   
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
border: none;
background-color: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 210px;
height: 50px;

align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}
.icon-send{
   position: absolute;
   top: 13;
right: 18px;


}
