
.feature{
    background-color: var(--tx-color);
  


}

.feature__content {
    display: block;
    gap: 30px;


    @media screen and (min-width: $tablet){
        display: flex;
        flex-direction: row;
    flex-wrap: wrap;
       
    }

  

}




.feature__svg--one {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-image: url(../SVG/Fisrst/antenna\ 1.svg);
    background-repeat: no-repeat;

    @media screen and (min-width: $tablet){
  
        width: 354px;
    }

    @media screen and (min-width: $desktop){
        width: 270px;
    }
}

.feature__svg--two {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../SVG/Fisrst/astronaut\ 1.svg);

    @media screen and (min-width: $tablet){
        width: 354px;
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 30px;
        width: 270px;
    }
}

.feature__svg--three {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../SVG/Fisrst/clock\ 1.svg);

    @media screen and (min-width: $tablet){float: left;
        width: 354px;
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 30px;
        width: 270px;
    }
}

.feature__svg--four {
    display: flex;
    background-position: 50% 50%;
    background-color: var(--svg-back);
    border-radius: 4px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url(../SVG/Fisrst/diagram\ 1.svg);

    @media screen and (min-width: $tablet){
        width: 354px;
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 30px;
        width: 270px;
    }

}

.feature__text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);

    text-align: center;
    text-transform: uppercase;

    width: 270px;
    margin: 0 auto;
    margin-bottom: 10px;
  

    @media screen and (min-width: $tablet){
        margin: 0 0;
         width: 270px;
        text-align:left;
        margin-bottom: 10px;
    }

    @media screen and (min-width: $desktop){
     
       
    }


}

.feature__about {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--color-three);
    margin-bottom: 30px;
    width: 450px;


    @media screen and (min-width: $tablet){
        width: 354px;
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop){
        width: 270px;
    }


}
