
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 1199px){
        padding-bottom: 60px;
        
    }
    @media screen and (max-width: $desktop){
       
        
    }

}
.footer__main {
    display: flex;

align-items: baseline;

   

    @media screen and (max-width: 1199px){
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    @media screen and (min-width: $desktop){
    //    padding-bottom: 60px;
    }
    
    
}
.footer__tablet{
    margin-bottom: 60px;;

    @media screen and (min-width: $tablet){
        display: flex;
        align-items: baseline;
    justify-content: space-around;
    // margin-bottom: 60px;

    
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 0;
    }


}




.footer__block {
    @media screen and(max-width:767px){
       
    }
  

    @media screen and (min-width: $tablet){
        margin-right:165px;
    }

    @media screen and (min-width: $desktop){
        margin-right: 70px;
    }
    
}









