
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}
.footer__main {
    display: flex;
    align-items: baseline;
}

.footer__block {
    margin-right: 70px;
}









