
.header__navigation.nav__menu.current_portfolio::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;


    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: #2196F3;
}

.header__navigation.current_portfolio {
    color: var(--color-one);

}

.nav__menu {
    margin-right: 30px;
}

.header__navigation:hover {
    color: var(--color-one);
}

.header__menu .header__navigation:focus {
    color: var(--color-one);
}
