/*TEAM*/
.team__section {
    background-color: #F5F4FA;

}

.team__header {
    display: block;
 
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-bottom: 30px;

    @media screen and(min-width: $tablet){
       
    }
    
    @media screen and(min-width: $desktop){
        margin-bottom: 50px;
 }

}

.team__block {

    display: flex;
    gap: 30px;
  
    @media screen and(max-width: 767px){
        display: flex;
        gap: 30px;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    @media screen and(max-width: 1199px){
        flex-wrap: wrap;
     
  
       }
       
       @media screen and(min-width: $desktop){

  
    }

}

.team__card {
    background-color: var(--tx-color);
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: 450px;
    // height: 622px;

    @media screen and(min-width: $tablet){
        width: 354px;
        // height: 534px;
    }
    
    @media screen and(min-width: $desktop){
        width: 270px;
        // height: 428px;

 }

}

.team__img{
    width: 450px;
    // height: 460px;
    @media screen and(min-width: $tablet){
        width: 354px;
        // height: 374px;
    }
    
    @media screen and(min-width: $desktop){
        width: 270px;
        // height: 260px;

 }
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    padding-top: 30px;
    margin-bottom: 10px;

}

.team__about {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-three);
    /* padding-bottom: 30px; */
}

.team__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 24px;
    
}

.team__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover {
        color: #fff;
        background-color: #2196F3;
    }
    
    &:focus {
        color: #fff;
        background-color: #2196F3;
    }
}


.team__icon {
    fill: currentColor;
}
