body {
    font-family: 'Roboto', sans-serif;
}

svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

button,
a:focus {
    color: var(--first-color);
    /* display: block; */
}

button,
a:focus {
    color: var(--color-one);
}


/*all*/


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}



img {
    display: block;
}



main {
    background-color: var(--color-four);
}


.menu .links .main:focus {
    color: var(--first-color);
}
 