body {
    font-family: 'Roboto', sans-serif;
}

/*all*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*HEADER*/
.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-black {
    color: black;
}

.logo-blue {
    color: #2196F3;
}

/*NAVIGATION*/
.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation:hover {
    color: #2196F3;
}

/*LINKS*/
.mail-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.phone-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
}

.mail-link:hover {
    color: #2196F3;
}

.phone-link :hover {
    color: #2196F3;
}

/*BUTTON-NAVIGATION*/
.but-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    cursor: pointer;
    color: #212121;
    background: #F5F4FA;

}

.but-nav:active {
    cursor: pointer;
    color: #FFFFFF;
    background: #2196F3;
    /* shadow-middle */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/*ul: photo+h2+p*/
.container {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.text-cont {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: #212121;
}

.about-cont {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}

/*footer*/
.footer {
    background: #2F303A;
}

.place {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    /* or 171% */
    letter-spacing: 0.03em;

    color: #FFFFFF;
}