:root {

    /* collors */
    --first-color: #2196F3;
    --second-color: #212121;
    --color-three: #757575;
    --tx-color: #FFFFFF;
    --svg-back: #F5F4FA;

    --color-one: #2196F3;
    --color-two: #757575;
    --color-three: #212121;
    --color-four: #FFFFFF;

    --idx-backdrop: 1000;



}



    //BREAKPOINTS
    $mobile: 480px;
    $tablet: 768px;
    $desktop: 1200px; 